 body {
        width: 100wh;
        height: 90vh;
        color: #fff;
        margin: 0;
        background: linear-gradient(-45deg, #71a98b, #b15c8e, #dc6b68, #6c5a94, #b14c4e, #736357);
        background-size: 400% 400%;
        -webkit-animation: Gradient 5.5s ease infinite;
        -moz-animation: Gradient 5.5s ease infinite;
        animation: Gradient 5.5s ease infinite;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @-moz-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
#header {
    /* padding-top: 5px; */
    padding-left: 15px;
    color: #ffffff;
    position: absolute;
    float: right;
    display: block;
}

a {
    color: #46c136;
    cursor: pointer;
}

a:hover {
    color: #aefda3;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 45px;
    text-align: center;
    color: #ffd1d1
}

p {
    font-size: 25px;
}

p2 {
    font-size: 25px;
    color: #ffd1d1
}

hr {
    border: 2px solid #ffd1d1
}

#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-right: 10px;
    color: white;
    text-align: right;
    font-size: 15px !important;
}

/* Navbar css */
#navbar {    
    display: flex;
    background-color: rgba(0, 0, 0, 0.377);
    transform: translateY(-100%);
    transition: transform .5s cubic-bezier(.4,0,.2,1);
  }
  #navbar a {
      color: white;
      text-decoration: none;
  }
  #navbar > * {
    padding: 1rem;
  }
  .nav-container:hover #navbar {
    transform: translateY(0);
  }



|||||| Visual ||||||


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.btn {
  text-decoration: none;
  padding: 20px 50px;
  font-size: 1.25rem;
  position: relative;
  margin: 32px;
}

/* Button 1*/

.btn-1 {
  color: rgb(255, 255, 255);
}

.btn-1::after,
.btn-1::before {
  border: 3px solid rgb(255, 255, 255);
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.btn-1:hover::after {
  transform: translate(-5px, -5px);
}

.btn-1:hover::before {
  transform: translate(5px, 5px);
}

/* Button 2 */

.btn-2 {
  color: rgb(255, 255, 255);
}

.btn-2::after,
.btn-2::before {
  border: 3px solid rgb(255, 255, 255);
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.btn-2:hover::after {
  transform: translate(-5px, -5px);
}

.btn-2:hover::before {
  transform: translate(5px, 5px);
}

/* Button 3 */

.btn-3 {
  color: rgb(255, 255, 255);
}

.btn-3::after,
.btn-3::before {
  border: 3px solid rgb(255, 255, 255);
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.btn-3:hover::after {
  transform: translate(-5px, -5px);
}

.btn-3:hover::before {
  transform: translate(5px, 5px);
}
